.chats{
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: darkgrey;
    padding-top: 200px;
}
.title {
    margin: auto;
    font-size: 48px;
    align-content: space-around;
    text-align: center;
}

