html, body {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: helvetica, arial;
}
.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}
.appWrapper{
  background-color: palevioletred;
}

